/*  regler når skjermen er mindre enn 600px    */

@media (min-width: 600px) {
  /* regler når skermen er mellom 600px og 1200*/
}

@media (min-width: 1200px) {
  /*regler når skjermen er over 1200px bred */
}

.container1 {
  background-color: red;
}
.container2 {
  background-color: blue;
}
.container3 {
  background-color: yellow;
}
.container4 {
  background-color: green;
}
.container1,
.container2,
.container3,
.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
