* {
  box-sizing: border-box;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: lime;
  gap: 1rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  background-color: orange;
}
.item {
  background-color: red;
  width: 100%;
  height: 200px;
}

.item2 {
  background-color: blue;
  width: 100%;
  height: 300px;
}
.item,
.item2 {
  border: 1px solid black;
}
