body {
  margin: 0px;
}
* {
  margin: 0px;
  padding: 0px;
}

.item {
  background-color: blue;
  margin: 2rem 0;
  border: 1px solid black;
  min-width: 500px;
  min-height: 300px;
  box-sizing: border-box;
}
