.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 450px;
  width: 450px;
  gap: 10px;
}
.item1 {
  background-color: red;
  width: 100%;
  height: 100%;
}
.item2 {
  background-color: lime;
  grid-area: 1 /1 / span 2 / 1;
  width: 100%;
  height: 100%;
}
.item3 {
  background-color: blue;
  grid-area: 2 /2 / 2 / span 2;
  width: 100%;
  height: 100%;
}
.item4 {
  background-color: grey;
  grid-area: 1 /3 / 1 / span 2;
  width: 100%;
  height: 100%;
}
.item5 {
  background-color: orange;
  grid-area: 2 /4 / span 3 / 4;
  width: 100%;
  height: 100%;
}
.item6 {
  background-color: pink;
  grid-area: 3 / 1 / 5 / 4;
  width: 100%;
  height: 100%;
}
