.container {
  background-color: #777;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.container .img {
  margin-left: 50%;
  transform: translateX(-50%);
}

.img {
  width: 250px;
  height: 250px;
  background-color: lime;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
