* {
  box-sizing: border-box;
}

.test {
  height: 500px;
  width: 800px;
  background-color: green;
  padding: 50px;
  border: 25px solid black;
  margin: 50px;
  box-sizing: border-box;
  transition: 1s;
}

.test:hover {
  transform: translate(200px, 200px);
  background-color: red;
  cursor: pointer;
}
