@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap");
@font-face {
  font-family: "BootsAndSpurs";
  src: url(../fonts/BootsAndSpurs.ttf) format("truetype");
}
*{
    margin: 0;
}
h1 {
  font-family: "BootsAndSpurs", "Times New Roman", Times, serif;
} 

p {
  font-family: "Roboto";
}

/*The available types are: "woff", "woff2", "truetype", "opentype", "embedded-opentype", and "svg".*/
