.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

img {
	width: 250px;
}

.hidden {
	visibility: hidden;
}

.circle {
	margin-top: 1rem;
	width: 30px;
	height: 30px;
	border-top: 4px solid blue;
	border-radius: 50%;
	display: none;
	justify-content: center;
	align-items: center;
	animation: 3s infinite loading linear;
}
.inner-circle {
	width: 20px;
	height: 20px;
	border-bottom: 4px solid purple;
	border-radius: 50%;
	animation: 3s infinite loading linear;
}
.show {
	display: flex;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
