<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-Uacompatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>norwegian rip off</title>
    <meta name="description" content="Content for description" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/349a7d6f47.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style1-fixed.css" />
  </head>
  <body>
    <!--
      ===========================
      not done
      ===========================

    -->
    <header class="header-primary">
      <div class="header-content flex">
        <div class="hamburger-menu">
          <input type="checkbox" id="menu-checkbox" />
          <label class="menu flex ac jc" for="menu-checkbox">
            <i class="fas fa-bars"></i>
          </label>
          <nav class="menu-items">
            <a href="#">Home</a>
            <a href="#">Home</a>
            <a href="#">Home</a>
            <a href="#">Home</a>
            <a href="#">Home</a>
          </nav>
        </div>

        <div class="header-content-right flex ac jc">
          <div class="search flex ac">
            <input type="text" class="search-field" placeholder="Søk" />
            <i class="fa-solid fa-magnifying-glass search-icon flex ac"></i>
          </div>
          <div class="profile flex ac">Logg inn / Finn reservasjoner</div>
          <div class="logo flex ac"><h1>norwegian</h1></div>
        </div>
      </div>
      <div class="header-secondary flex ac jc">
        <i class="fa-solid fa-arrow-right"></i>
        <a href="#">Viktig reiseinformasjon</a>
      </div>
    </header>
    <main>
      <section class="main-content flex ac jc">
        <div class="content-container">
          <header class="content-tabs">
            <input type="radio" name="tab" id="radio-flights" checked />
            <label class="label-flights" for="radio-flights">Fly</label>
            <input type="radio" name="tab" id="radio-business" />
            <label class="label-business" for="radio-business">Bedrift</label>
            <input type="radio" name="tab" id="radio-rental" />
            <label class="label-rental" for="radio-rental">Leiebil</label>
            <input type="radio" name="tab" id="radio-hotel" />
            <label class="label-hotel" for="radio-hotel">Hotell</label>
          </header>
          <div class="content-form flex jc ac">
            <div class="origin-container">
              <label for="origin">Fra</label>
              <input list="origins" name="origin" id="destination" />
              <datalist id="origins">
                <option value="Oslo"></option>
                <option value="Rome"></option>
                <option value="Berlin"></option>
                <option value="Oslo"></option>
                <option value="Rome"></option>
                <option value="Berlin"></option>
                <option value="Oslo"></option>
                <option value="Rome"></option>
                <option value="Berlin"></option>
              </datalist>
            </div>

            <div class="destination-container">
              <label for="destination">Til</label>
              <input list="destinations" name="destination" id="destination" />
              <datalist id="destinations">
                <option value="Oslo"></option>
                <option value="Rome"></option>
                <option value="Berlin"></option>
                <option value="Oslo"></option>
                <option value="Rome"></option>
                <option value="Berlin"></option>
                <option value="Oslo"></option>
                <option value="Rome"></option>
                <option value="Berlin"></option>
              </datalist>
            </div>
          </div>
          <footer class="content-footer">
            <div class="wrapper-lowfare">
              <input type="checkbox" id="lowprice" />
              <label for="lowprice">Vis Lavpriskalender</label>
            </div>
            <button class="order-btn">
              Søk og bestill <i class="fa-solid fa-arrow-right"></i>
            </button>
          </footer>
        </div>
      </section>
      <section class="advertisement">
        <h2>Våre billigeste flybilletter</h2>
        <div class="advertisement-grid">
          <article>
            <div class="img"></div>
            <h3>Destination</h3>
            <p>Dirkete fra Oslo</p>
            <hr />
            <h3>549,-</h3>
          </article>
          <article>
            <div class="img"></div>
            <h3>Destination</h3>
            <p>Dirkete fra Oslo</p>
            <hr />
            <h3>549,-</h3>
          </article>
          <article>
            <div class="img"></div>
            <h3>Destination</h3>
            <p>Dirkete fra Oslo</p>
            <hr />
            <h3>549,-</h3>
          </article>
          <article>
            <div class="img"></div>
            <h3>Destination</h3>
            <p>Dirkete fra Oslo</p>
            <hr />
            <h3>549,-</h3>
          </article>
        </div>
        <div class="grid-area">
          <div class="image1 grid-item"></div>
          <div class="text1 grid-item"></div>
          <div class="image2 grid-item"></div>
          <div class="text2 grid-item"></div>
          <div class="image3 grid-item"></div>
          <div class="text3 grid-item"></div>
        </div>
      </section>
    </main>
  </body>
</html>
