.grid {
  display: grid;
  width: 100%;
  background-color: #333;
  grid-template-columns: 1fr;
  gap: 10px;
}
.item {
  min-height: 200px;
  border: 1px solid white;
}
.item2,
.item4,
.item6 {
  background-image: url(../images/drage.jpg);
  background-size: cover;
  background-position: center;
}

.item7 {
  order: 7;

  background-image: url(../images/sol2.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(4, 1fr); /*SKRIV*/
  }
  .item1 {
    order: 1;
    grid-area: 1 / 1 / 1 / span 2; /*short version,
     row-start,
    column-start,
    row-end,
    column-end;
    seperated by "/" */
  }
  .item2 {
    order: 2;
    grid-column: span 2;
  }
  .item3 {
    order: 4;
    grid-column: span 2;
  }
  .item4 {
    order: 3;
    grid-column: span 2;
  }
  .item5 {
    order: 5;
    grid-column: span 2;
  }
  .item6 {
    order: 6;
    grid-column: span 2;
  }
  .item7 {
    order: 9;
    grid-column-start: 1;
    grid-column-end: span 4;
  }
  .item8 {
    order: 8;
    background-color: red;
  }
  .item9 {
    order: 8;
    background-color: blue;
  }
  .item10 {
    order: 8;
    background-color: green;
  }
  .item11 {
    order: 8;
    background-color: aqua;
  }
}
