.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  background-color: #777;
  min-height: 100px;
}

.grid-item {
  background-color: red;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
}

.container-1 {
  gap: 1rem;
  align-items: center;
}
.container-2 {
  background-color: aqua;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  width: 100%;
}
